<?php 

$data = "<select onchange='preciopordia(this.value)' id='Reserindividualehabitacione_id' class='form-control' name='data[Reserindividuale][habitacione_id]'>";
$data .= "<option>--Seleccione--</option>";
foreach ($habitaciones as $key) {


		foreach ($estatushabitaciones as $sta) {
			

			if ($key['Habitacione']['id'] == $sta['Habitacione']['id']) {

				if ($sta['Habitacione']['habistatu_id'] != 8) {					
			

				$data .= "<option value='".$key['Habitacione']['id']."'>".$key['Habitacione']['numhabitacion']."</opcion>";
			
				}			
			
			}
		}
}
$data .= "</select>";

echo json_encode(array('resp'=>true, 'data'=>$data));

 ?>