<?php 

	
$data = "<select id='origen' class='select_' size='8' multiple='multiple' onchange='preciopordia_multiple(this.value)' id='Reserindividualehabitacione_id' name='data[Reserindividuale][habitacione_id]'>";

foreach ($habitaciones as $key) {


		
$data .= "<option value='".$key['Habitacione']['id']."'>".$key['Habitacione']['numhabitacion']."</opcion>";
			
					
			
			}

$data .= "</select>";

echo json_encode(array('resp'=>true, 'data'=>$data));


 ?>