 		<?php 
	header('Content-type: application/vnd.ms-excel');
	header("Content-Disposition: attachment; filename=".$name.".xls");
	header("Pragma: no-cache");
	header("Expires: 0");



 ?>
 <table>
 		
 			<tr>
 				<th>DOCUMENTO</th>
 				<th>NOMBRE</th>
 				<th>AUTOMOVIL</th>
 				<th>INGRESO/HORA</th>
 				<th>HABITACION</th>
 				<th>RESERVA</th>
 				
 			</tr>


 			<?php 
 				foreach ($reserindividuales as $value) {
 					echo "<tr><td>DU ".$value['Cliente']['dni']."</td></tr>";
 					echo "<tr><td>".$value['Cliente']['nombre_completo']."</td></tr>";
 					echo "<tr><td>".$value['Reserindividuale']['automovil']."</td></tr>";
 				
 					
 					
 					$fecha = "";
 				    foreach ($value['Reserindivistatus'] as $key) {
 				    	if($key['reserstatusindividuale_id']==4){
 				           $fecha = $key['created'];
 				    	}
 				    }
 				    echo "<tr><td>".$fecha."</td></tr>";
 					echo "<tr><td>".$value['Habitacione']['numhabitacion']."</td></tr>";
 					echo "<tr><td>".$value['Reserindividuale']['id']."</td></tr>";
 				}
 			 ?>
 		
 </table>