<?php


$numero = cal_days_in_month(CAL_GREGORIAN, $mes, $anio); // 31


$mes_enviado = $mes;
$anhio_enviado = $anio;


$num_mes = $mes;

if ($mes == 1) {
	$mes = 'Enero del ';
}else if ($mes == 2) {
	$mes = 'Febrero del ';
}else if ($mes == 3) {
	$mes = 'Marzo del ';
}else if ($mes == 4) {
	$mes = 'Abril del ';
}else if ($mes == 5) {
	$mes = 'Mayo del ';
}else if ($mes == 6) {
	$mes = 'Junio del ';
}else if ($mes == 7) {
	$mes = 'Julio del ';
}else if ($mes == 8) {
	$mes = 'Agosto del ';
}else if ($mes == 9) {
	$mes = 'Septiembre del ';
}else if ($mes == 10) {
	$mes = 'Octubre del ';
}else if ($mes == 11) {
	$mes = 'Noviembre del ';
}else if ($mes == 12) {
	$mes = 'Diciembre del ';
}



/*foreach ($entrada1 as $key) {
	echo "fecha entrada".$key['Reserindividuale']['id'].' / '.$key['Reserindividuale']['fecha_entrada'].'<br>';
}

pr($controlfechas);*/

?>

<h3 style="text-align: center;">  <?=$mes.' '.$anio ?>

<span class="pull-right" style="font-size: 12px;"> <a href="<?=$this->Html->url('/Reserindividuales/add_from_calendar')?>" class="btn btn-primary"> Nueva Reserva <i class='fa fa-plus'></i> </a> </span>
</h3>
<br>

<style type="text/css">


	.th-color{
		background-color: #3c8dbc;
		color: white;
		font-size: 11px;
	}
	td{
		background-color: white;	
		font-size: 11px;

	}

	.border_td{
		border-style: solid ;
		border-width: 1px;
		border-color:silver;
		max-width: 21px !important;

	}

	.primer_dia_1{

		background: rgba(254,183,69,0.01);
		background: -moz-linear-gradient(left, rgba(254,183,69,0.01) 0%, rgba(254,183,69,0.48) 47%, rgba(254,183,69,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,183,69,0.01)), color-stop(47%, rgba(254,183,69,0.48)), color-stop(100%, rgba(254,183,69,1)));
		background: -webkit-linear-gradient(left, rgba(254,183,69,0.01) 0%, rgba(254,183,69,0.48) 47%, rgba(254,183,69,1) 100%);
		background: -o-linear-gradient(left, rgba(254,183,69,0.01) 0%, rgba(254,183,69,0.48) 47%, rgba(254,183,69,1) 100%);
		background: -ms-linear-gradient(left, rgba(254,183,69,0.01) 0%, rgba(254,183,69,0.48) 47%, rgba(254,183,69,1) 100%);
		background: linear-gradient(to right, rgba(254,183,69,0.01) 0%, rgba(254,183,69,0.48) 47%, rgba(254,183,69,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb745', endColorstr='#feb745', GradientType=1 );

		border-radius: 10px 0px 0px 10px;
		-moz-border-radius: 10px 0px 0px 10px;
		-webkit-border-radius: 10px 0px 0px 10px;
		border: 0px solid #000000;

		border-right-style: none !important;

	}
	.diaOcupado_1{
		
		background: rgba(254,182,69,1);
		background: -moz-linear-gradient(top, rgba(254,182,69,1) 0%, rgba(254,183,69,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,182,69,1)), color-stop(100%, rgba(254,183,69,1)));
		background: -webkit-linear-gradient(top, rgba(254,182,69,1) 0%, rgba(254,183,69,1) 100%);
		background: -o-linear-gradient(top, rgba(254,182,69,1) 0%, rgba(254,183,69,1) 100%);
		background: -ms-linear-gradient(top, rgba(254,182,69,1) 0%, rgba(254,183,69,1) 100%);
		background: linear-gradient(to bottom, rgba(254,182,69,1) 0%, rgba(254,183,69,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb645', endColorstr='#feb745', GradientType=0 );

		border-left-style: none !important;
	
		border-right-style: none !important;

	}

	.ultimo_dia_1{

		background: rgba(254,183,69,1);
		background: -moz-linear-gradient(left, rgba(254,183,69,1) 0%, rgba(254,183,69,0.53) 47%, rgba(254,183,69,0.01) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,183,69,1)), color-stop(47%, rgba(254,183,69,0.53)), color-stop(100%, rgba(254,183,69,0.01)));
		background: -webkit-linear-gradient(left, rgba(254,183,69,1) 0%, rgba(254,183,69,0.53) 47%, rgba(254,183,69,0.01) 100%);
		background: -o-linear-gradient(left, rgba(254,183,69,1) 0%, rgba(254,183,69,0.53) 47%, rgba(254,183,69,0.01) 100%);
		background: -ms-linear-gradient(left, rgba(254,183,69,1) 0%, rgba(254,183,69,0.53) 47%, rgba(254,183,69,0.01) 100%);
		background: linear-gradient(to right, rgba(254,183,69,1) 0%, rgba(254,183,69,0.53) 47%, rgba(254,183,69,0.01) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb745', endColorstr='#feb745', GradientType=1 );

		border-left-style: none !important;

		border-radius: 0px 10px 10px 0px;
		-moz-border-radius: 0px 10px 10px 0px;
		-webkit-border-radius: 0px 10px 10px 0px;
		border: 0px solid #000000;

	}



	.unique_dia_1{
		background: rgba(254,183,69,1);
		background: -moz-linear-gradient(left, rgba(254,183,69,1) 0%, rgba(254,183,69,0.53) 47%, rgba(254,183,69,0.01) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,183,69,1)), color-stop(47%, rgba(254,183,69,0.53)), color-stop(100%, rgba(254,183,69,0.01)));
		background: -webkit-linear-gradient(left, rgba(254,183,69,1) 0%, rgba(254,183,69,0.53) 47%, rgba(254,183,69,0.01) 100%);
		background: -o-linear-gradient(left, rgba(254,183,69,1) 0%, rgba(254,183,69,0.53) 47%, rgba(254,183,69,0.01) 100%);
		background: -ms-linear-gradient(left, rgba(254,183,69,1) 0%, rgba(254,183,69,0.53) 47%, rgba(254,183,69,0.01) 100%);
		background: linear-gradient(to right, rgba(254,183,69,1) 0%, rgba(254,183,69,0.53) 47%, rgba(254,183,69,0.01) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb745', endColorstr='#feb745', GradientType=1 );

		border-radius: 200px 200px 200px 200px;
		-moz-border-radius: 200px 200px 200px 200px;
		-webkit-border-radius: 200px 200px 200px 200px;
		border: 0px solid #000000;


	}


	.primer_dia_2{

		background: rgba(73,165,191,0.01);
		background: -moz-linear-gradient(left, rgba(73,165,191,0.01) 0%, rgba(73,165,191,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,165,191,0.01)), color-stop(100%, rgba(73,165,191,1)));
		background: -webkit-linear-gradient(left, rgba(73,165,191,0.01) 0%, rgba(73,165,191,1) 100%);
		background: -o-linear-gradient(left, rgba(73,165,191,0.01) 0%, rgba(73,165,191,1) 100%);
		background: -ms-linear-gradient(left, rgba(73,165,191,0.01) 0%, rgba(73,165,191,1) 100%);
		background: linear-gradient(to right, rgba(73,165,191,0.01) 0%, rgba(73,165,191,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a5bf', endColorstr='#49a5bf', GradientType=1 );

		border-radius: 10px 0px 0px 10px;
		-moz-border-radius: 10px 0px 0px 10px;
		-webkit-border-radius: 10px 0px 0px 10px;
		border: 0px solid #000000;

		border-right-style: none !important;

	}

	.diaOcupado_2{
		background: rgba(73,165,191,1);
		background: -moz-linear-gradient(left, rgba(73,165,191,1) 0%, rgba(73,165,191,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,165,191,1)), color-stop(100%, rgba(73,165,191,1)));
		background: -webkit-linear-gradient(left, rgba(73,165,191,1) 0%, rgba(73,165,191,1) 100%);
		background: -o-linear-gradient(left, rgba(73,165,191,1) 0%, rgba(73,165,191,1) 100%);
		background: -ms-linear-gradient(left, rgba(73,165,191,1) 0%, rgba(73,165,191,1) 100%);
		background: linear-gradient(to right, rgba(73,165,191,1) 0%, rgba(73,165,191,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a5bf', endColorstr='#49a5bf', GradientType=1 );

		border-left-style: none !important;
		
		border-right-style: none !important;
	}

	.ultimo_dia_2{

		background: rgba(73,165,191,1);
		background: -moz-linear-gradient(left, rgba(73,165,191,1) 0%, rgba(73,165,191,0.01) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,165,191,1)), color-stop(100%, rgba(73,165,191,0.01)));
		background: -webkit-linear-gradient(left, rgba(73,165,191,1) 0%, rgba(73,165,191,0.01) 100%);
		background: -o-linear-gradient(left, rgba(73,165,191,1) 0%, rgba(73,165,191,0.01) 100%);
		background: -ms-linear-gradient(left, rgba(73,165,191,1) 0%, rgba(73,165,191,0.01) 100%);
		background: linear-gradient(to right, rgba(73,165,191,1) 0%, rgba(73,165,191,0.01) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a5bf', endColorstr='#49a5bf', GradientType=1 );
		border-left-style: none !important;

		border-radius: 0px 10px 10px 0px;
		-moz-border-radius: 0px 10px 10px 0px;
		-webkit-border-radius: 0px 10px 10px 0px;
		border: 0px solid #000000;

	}


	.unique_dia_2{
		background: rgba(73,165,191,1);
		background: -moz-linear-gradient(left, rgba(73,165,191,1) 0%, rgba(73,165,191,0.01) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,165,191,1)), color-stop(100%, rgba(73,165,191,0.01)));
		background: -webkit-linear-gradient(left, rgba(73,165,191,1) 0%, rgba(73,165,191,0.01) 100%);
		background: -o-linear-gradient(left, rgba(73,165,191,1) 0%, rgba(73,165,191,0.01) 100%);
		background: -ms-linear-gradient(left, rgba(73,165,191,1) 0%, rgba(73,165,191,0.01) 100%);
		background: linear-gradient(to right, rgba(73,165,191,1) 0%, rgba(73,165,191,0.01) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a5bf', endColorstr='#49a5bf', GradientType=1 );
		border-left-style: none !important;

		border-radius: 200px 200px 200px 200px;
		-moz-border-radius: 200px 200px 200px 200px;
		-webkit-border-radius: 200px 200px 200px 200px;
		border: 0px solid #000000;


	}


	.primer_dia_3{
		background: rgba(241,231,103,0.1);
		background: -moz-linear-gradient(left, rgba(241,231,103,0.1) 0%, rgba(241,232,103,0.99) 99%, rgba(241,232,103,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,0.1)), color-stop(99%, rgba(241,232,103,0.99)), color-stop(100%, rgba(241,232,103,1)));
		background: -webkit-linear-gradient(left, rgba(241,231,103,0.1) 0%, rgba(241,232,103,0.99) 99%, rgba(241,232,103,1) 100%);
		background: -o-linear-gradient(left, rgba(241,231,103,0.1) 0%, rgba(241,232,103,0.99) 99%, rgba(241,232,103,1) 100%);
		background: -ms-linear-gradient(left, rgba(241,231,103,0.1) 0%, rgba(241,232,103,0.99) 99%, rgba(241,232,103,1) 100%);
		background: linear-gradient(to right, rgba(241,231,103,0.1) 0%, rgba(241,232,103,0.99) 99%, rgba(241,232,103,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#f1e867', GradientType=1 );

		border-radius: 10px 0px 0px 10px;
		-moz-border-radius: 10px 0px 0px 10px;
		-webkit-border-radius: 10px 0px 0px 10px;
		border: 0px solid #000000;


		border-right-style: none !important;

	}

	.diaOcupado_3{

		background: rgba(241,231,103,1);
		background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(241,232,103,1) 99%, rgba(241,232,103,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(99%, rgba(241,232,103,1)), color-stop(100%, rgba(241,232,103,1)));
		background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(241,232,103,1) 99%, rgba(241,232,103,1) 100%);
		background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(241,232,103,1) 99%, rgba(241,232,103,1) 100%);
		background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(241,232,103,1) 99%, rgba(241,232,103,1) 100%);
		background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(241,232,103,1) 99%, rgba(241,232,103,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#f1e867', GradientType=1 );


		border-left-style: none !important;
		
		border-right-style: none !important;
	}

	.ultimo_dia_3{

		background: rgba(241,231,103,1);
		background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(241,232,103,0.11) 99%, rgba(241,232,103,0.1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(99%, rgba(241,232,103,0.11)), color-stop(100%, rgba(241,232,103,0.1)));
		background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(241,232,103,0.11) 99%, rgba(241,232,103,0.1) 100%);
		background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(241,232,103,0.11) 99%, rgba(241,232,103,0.1) 100%);
		background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(241,232,103,0.11) 99%, rgba(241,232,103,0.1) 100%);
		background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(241,232,103,0.11) 99%, rgba(241,232,103,0.1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#f1e867', GradientType=1 );

		border-radius: 0px 10px 10px 0px;
		-moz-border-radius: 0px 10px 10px 0px;
		-webkit-border-radius: 0px 10px 10px 0px;
		border: 0px solid #000000;

		border-left-style: none !important;

	}

		.unique_dia_3{
		background: rgba(241,231,103,1);
		background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(241,232,103,0.11) 99%, rgba(241,232,103,0.1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(99%, rgba(241,232,103,0.11)), color-stop(100%, rgba(241,232,103,0.1)));
		background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(241,232,103,0.11) 99%, rgba(241,232,103,0.1) 100%);
		background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(241,232,103,0.11) 99%, rgba(241,232,103,0.1) 100%);
		background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(241,232,103,0.11) 99%, rgba(241,232,103,0.1) 100%);
		background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(241,232,103,0.11) 99%, rgba(241,232,103,0.1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#f1e867', GradientType=1 );

		border-radius: 200px 200px 200px 200px;
		-moz-border-radius: 200px 200px 200px 200px;
		-webkit-border-radius: 200px 200px 200px 200px;
		border: 0px solid #000000;


	}




	.primer_dia_4{

		background: rgba(117,137,12,0.1);
		background: -moz-linear-gradient(left, rgba(117,137,12,0.1) 0%, rgba(117,137,12,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(117,137,12,0.1)), color-stop(100%, rgba(117,137,12,1)));
		background: -webkit-linear-gradient(left, rgba(117,137,12,0.1) 0%, rgba(117,137,12,1) 100%);
		background: -o-linear-gradient(left, rgba(117,137,12,0.1) 0%, rgba(117,137,12,1) 100%);
		background: -ms-linear-gradient(left, rgba(117,137,12,0.1) 0%, rgba(117,137,12,1) 100%);
		background: linear-gradient(to right, rgba(117,137,12,0.1) 0%, rgba(117,137,12,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75890c', endColorstr='#75890c', GradientType=1 );

		border-radius: 10px 0px 0px 10px;
		-moz-border-radius: 10px 0px 0px 10px;
		-webkit-border-radius: 10px 0px 0px 10px;
		border: 0px solid #000000;


		border-right-style: none !important;

	}

	.diaOcupado_4{

		background: rgba(117,137,12,1);
		background: -moz-linear-gradient(left, rgba(117,137,12,1) 0%, rgba(117,137,12,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(117,137,12,1)), color-stop(100%, rgba(117,137,12,1)));
		background: -webkit-linear-gradient(left, rgba(117,137,12,1) 0%, rgba(117,137,12,1) 100%);
		background: -o-linear-gradient(left, rgba(117,137,12,1) 0%, rgba(117,137,12,1) 100%);
		background: -ms-linear-gradient(left, rgba(117,137,12,1) 0%, rgba(117,137,12,1) 100%);
		background: linear-gradient(to right, rgba(117,137,12,1) 0%, rgba(117,137,12,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75890c', endColorstr='#75890c', GradientType=1 );


		border-left-style: none !important;
		
		border-right-style: none !important;
	}

	.ultimo_dia_4{

		background: rgba(117,137,12,1);
		background: -moz-linear-gradient(left, rgba(117,137,12,1) 0%, rgba(117,137,12,0.1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(117,137,12,1)), color-stop(100%, rgba(117,137,12,0.1)));
		background: -webkit-linear-gradient(left, rgba(117,137,12,1) 0%, rgba(117,137,12,0.1) 100%);
		background: -o-linear-gradient(left, rgba(117,137,12,1) 0%, rgba(117,137,12,0.1) 100%);
		background: -ms-linear-gradient(left, rgba(117,137,12,1) 0%, rgba(117,137,12,0.1) 100%);
		background: linear-gradient(to right, rgba(117,137,12,1) 0%, rgba(117,137,12,0.1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75890c', endColorstr='#75890c', GradientType=1 );

		border-radius: 0px 10px 10px 0px;
		-moz-border-radius: 0px 10px 10px 0px;
		-webkit-border-radius: 0px 10px 10px 0px;
		border: 0px solid #000000;

		border-left-style: none !important;

	}

	.unique_dia_4{
		background: rgba(117,137,12,1);
		background: -moz-linear-gradient(left, rgba(117,137,12,1) 0%, rgba(117,137,12,0.1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(117,137,12,1)), color-stop(100%, rgba(117,137,12,0.1)));
		background: -webkit-linear-gradient(left, rgba(117,137,12,1) 0%, rgba(117,137,12,0.1) 100%);
		background: -o-linear-gradient(left, rgba(117,137,12,1) 0%, rgba(117,137,12,0.1) 100%);
		background: -ms-linear-gradient(left, rgba(117,137,12,1) 0%, rgba(117,137,12,0.1) 100%);
		background: linear-gradient(to right, rgba(117,137,12,1) 0%, rgba(117,137,12,0.1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75890c', endColorstr='#75890c', GradientType=1 );

		border-radius: 200px 200px 200px 200px;
		-moz-border-radius: 200px 200px 200px 200px;
		-webkit-border-radius: 200px 200px 200px 200px;
		border: 0px solid #000000;


	}


	.primer_dia_5{

		background: rgba(231,55,39,0.1);
		background: -moz-linear-gradient(left, rgba(231,55,39,0.1) 0%, rgba(231,55,39,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(231,55,39,0.1)), color-stop(100%, rgba(231,55,39,1)));
		background: -webkit-linear-gradient(left, rgba(231,55,39,0.1) 0%, rgba(231,55,39,1) 100%);
		background: -o-linear-gradient(left, rgba(231,55,39,0.1) 0%, rgba(231,55,39,1) 100%);
		background: -ms-linear-gradient(left, rgba(231,55,39,0.1) 0%, rgba(231,55,39,1) 100%);
		background: linear-gradient(to right, rgba(231,55,39,0.1) 0%, rgba(231,55,39,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e73727', endColorstr='#e73727', GradientType=1 );

		border-radius: 10px 0px 0px 10px;
		-moz-border-radius: 10px 0px 0px 10px;
		-webkit-border-radius: 10px 0px 0px 10px;
		border: 0px solid #000000;



		border-right-style: none !important;

	}


	.unique_dia_5{
		background: rgba(248,80,50,1);
		background: -moz-radial-gradient(center, ellipse cover, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(248,80,50,1)), color-stop(50%, rgba(241,111,92,1)), color-stop(51%, rgba(246,41,12,1)), color-stop(71%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
		background: -webkit-radial-gradient(center, ellipse cover, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
		background: -o-radial-gradient(center, ellipse cover, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
		background: -ms-radial-gradient(center, ellipse cover, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
		background: radial-gradient(ellipse at center, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );

		border-radius: 200px 200px 200px 200px;
		-moz-border-radius: 200px 200px 200px 200px;
		-webkit-border-radius: 200px 200px 200px 200px;
		border: 0px solid #000000;


	}

	.diaOcupado_5{


		background: rgba(231,55,39,1);
		background: -moz-linear-gradient(left, rgba(231,55,39,1) 0%, rgba(231,55,39,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(231,55,39,1)), color-stop(100%, rgba(231,55,39,1)));
		background: -webkit-linear-gradient(left, rgba(231,55,39,1) 0%, rgba(231,55,39,1) 100%);
		background: -o-linear-gradient(left, rgba(231,55,39,1) 0%, rgba(231,55,39,1) 100%);
		background: -ms-linear-gradient(left, rgba(231,55,39,1) 0%, rgba(231,55,39,1) 100%);
		background: linear-gradient(to right, rgba(231,55,39,1) 0%, rgba(231,55,39,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e73727', endColorstr='#e73727', GradientType=1 );



		border-left-style: none !important;
		
		border-right-style: none !important;
	}

	.ultimo_dia_5{

		background: rgba(231,55,39,1);
		background: -moz-linear-gradient(left, rgba(231,55,39,1) 0%, rgba(231,55,39,0.1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(231,55,39,1)), color-stop(100%, rgba(231,55,39,0.1)));
		background: -webkit-linear-gradient(left, rgba(231,55,39,1) 0%, rgba(231,55,39,0.1) 100%);
		background: -o-linear-gradient(left, rgba(231,55,39,1) 0%, rgba(231,55,39,0.1) 100%);
		background: -ms-linear-gradient(left, rgba(231,55,39,1) 0%, rgba(231,55,39,0.1) 100%);
		background: linear-gradient(to right, rgba(231,55,39,1) 0%, rgba(231,55,39,0.1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e73727', endColorstr='#e73727', GradientType=1 );

		border-radius: 0px 10px 10px 0px;
		-moz-border-radius: 0px 10px 10px 0px;
		-webkit-border-radius: 0px 10px 10px 0px;
		border: 0px solid #000000;


		border-left-style: none !important;

	}

	.ultimo_dia_5_complete{


		background: rgba(231,55,39,1);
		background: -moz-linear-gradient(left, rgba(231,55,39,1) 0%, rgba(231,55,39,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(231,55,39,1)), color-stop(100%, rgba(231,55,39,1)));
		background: -webkit-linear-gradient(left, rgba(231,55,39,1) 0%, rgba(231,55,39,1) 100%);
		background: -o-linear-gradient(left, rgba(231,55,39,1) 0%, rgba(231,55,39,1) 100%);
		background: -ms-linear-gradient(left, rgba(231,55,39,1) 0%, rgba(231,55,39,1) 100%);
		background: linear-gradient(to right, rgba(231,55,39,1) 0%, rgba(231,55,39,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e73727', endColorstr='#e73727', GradientType=1 );



		border-left-style: none !important;
		
		border-right-style: none !important;
	}


	.primer_dia_6{
		background: rgba(241,231,103,0.1);
		background: -moz-linear-gradient(left, rgba(241,231,103,0.1) 0%, rgba(241,232,103,0.99) 99%, rgba(241,232,103,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,0.1)), color-stop(99%, rgba(241,232,103,0.99)), color-stop(100%, rgba(241,232,103,1)));
		background: -webkit-linear-gradient(left, rgba(241,231,103,0.1) 0%, rgba(241,232,103,0.99) 99%, rgba(241,232,103,1) 100%);
		background: -o-linear-gradient(left, rgba(241,231,103,0.1) 0%, rgba(241,232,103,0.99) 99%, rgba(241,232,103,1) 100%);
		background: -ms-linear-gradient(left, rgba(241,231,103,0.1) 0%, rgba(241,232,103,0.99) 99%, rgba(241,232,103,1) 100%);
		background: linear-gradient(to right, rgba(241,231,103,0.1) 0%, rgba(241,232,103,0.99) 99%, rgba(241,232,103,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#f1e867', GradientType=1 );


		border-radius: 10px 0px 0px 10px;
		-moz-border-radius: 10px 0px 0px 10px;
		-webkit-border-radius: 10px 0px 0px 10px;
		border: 0px solid #000000;

		border-right-style: none !important;

	}

	.diaOcupado_6{

		background: rgba(241,231,103,1);
		background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(241,232,103,1) 99%, rgba(241,232,103,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(99%, rgba(241,232,103,1)), color-stop(100%, rgba(241,232,103,1)));
		background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(241,232,103,1) 99%, rgba(241,232,103,1) 100%);
		background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(241,232,103,1) 99%, rgba(241,232,103,1) 100%);
		background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(241,232,103,1) 99%, rgba(241,232,103,1) 100%);
		background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(241,232,103,1) 99%, rgba(241,232,103,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#f1e867', GradientType=1 );


		border-left-style: none !important;
		
		border-right-style: none !important;
	}

	.ultimo_dia_6{

		background: rgba(241,231,103,1);
		background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(241,232,103,0.11) 99%, rgba(241,232,103,0.1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(99%, rgba(241,232,103,0.11)), color-stop(100%, rgba(241,232,103,0.1)));
		background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(241,232,103,0.11) 99%, rgba(241,232,103,0.1) 100%);
		background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(241,232,103,0.11) 99%, rgba(241,232,103,0.1) 100%);
		background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(241,232,103,0.11) 99%, rgba(241,232,103,0.1) 100%);
		background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(241,232,103,0.11) 99%, rgba(241,232,103,0.1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#f1e867', GradientType=1 );

		border-radius: 0px 10px 10px 0px;
		-moz-border-radius: 0px 10px 10px 0px;
		-webkit-border-radius: 0px 10px 10px 0px;
		border: 0px solid #000000;

		border-left-style: none !important;

	}


/*	thead{
		padding-right: 0px;
	}
	thead, tbody { display: block; }
	#tbody {
	    height: 800px;
	    overflow-y: auto;
	    
	}*/

	.tr_show_number{
		/*color: blue;*/

	}

	.tr_show_number:hover{
		color:red !important;

	}


</style>


<?php $auxNumero = $numero + 1; ?>
<table class="table tablesorter" >
	<thead >
		<tr>	
			<th class="th-color">Hab.</th>
			<th class="th-color">Desc.</th>
			<!-- <th class="th-color">Estatus</th> -->
			<th class="th-color" colspan="<?=$numero?>" style="text-align: center;">Días del Mes</th>
			<th class="th-color" style='width:6%; text-align: center;'>Cant.</th>
		</tr>
		<tr>
		<td>#</td>
		<td></td>
		
		
		<?php 
			for ($i=1; $i <= $numero ; $i++) { 
				echo "<td style='width:2%;' class='border_td' style='text-align: center;'>".$i."</td>";					
			}
		?>
		<td></td>
		
		</tr>
	</thead>
	<tbody id='tbody'>
		

<?php



		// Primero listo todas las habitaciones!



	
		foreach ($habitaciones as $key) {
			
			$inicio_ciclo = 0;

			//En esta posicion inicia el ciclo for para dibujar la linea del tiempo del mes de esa habitacion
			$posicion = 1;
			$cantidad_personas = 0;
			$simbolo = '';


			$dia_entrada_ex_hab = explode('-',$key['Habitacione']['desde']);
			$dia_entrada_hab = $dia_entrada_ex_hab[2];
			$mes_entrada_hab = $dia_entrada_ex_hab[1];
			//$dia_entrada = '3';
			//Salida
			$dia_salida_ex_hab = explode('-',$key['Habitacione']['hasta']);		
			$dia_salida_hab = $dia_salida_ex_hab[2];
			$mes_salida_hab = $dia_salida_ex_hab[1];
			

			$msg = 0;

			foreach ($entrada1 as $entradas) {
					




				//Entra en ciclo si encuentra una habitacion en el ciclo foreach de $entrada
				if ($key['Habitacione']['id'] == $entradas['Reserindividuale']['habitacione_id']) {
				
							// echo  $entradas['Reserindividuale']['id'].'  '.$entradas['Reserindividuale']['fecha_entrada'].' / '. $entradas['Reserindividuale']['fecha_salida'].'<br>';


							$cantidad_personas += $entradas['Reserindividuale']['cantidad_personas'];			
							$inicio_ciclo = 1;
							//
							$dia_entrada = 0;
							$dia_salida = 0;


							// Vacio la data
							$dia_entrada_ex = explode('-',$entradas['Reserindividuale']['fecha_entrada']);
								//$dia_entrada = $dia_entrada_ex[2];
								$mes_entrada = $dia_entrada_ex[1];
								$anhio_entrada = $dia_entrada_ex[0];

							$dia_salida_ex = explode('-',$entradas['Reserindividuale']['fecha_salida']);
							  //  $dia_salida = $dia_salida_ex[2];
								$mes_salida = $dia_salida_ex[1];
								$anhio_salida = $dia_salida_ex[0];



							if ($anhio_enviado == $anhio_entrada && $anhio_enviado == $anhio_salida) {
								


								// INSIDE

								if ($mes_entrada == $mes_actual  && $mes_salida == $mes_actual) {
									$dia_entrada = $dia_entrada_ex[2];		
									$dia_salida = $dia_salida_ex[2];
									// echo 'INSIDE'.$entradas['Reserindividuale']['id'].' <BR>' ;	
								}

								if ( $dia_entrada_ex[2] == $dia_salida_ex[2] ) {



									
								}

								// OUTSIDE

								if ($mes_entrada  < $mes_actual && $mes_salida > $mes_actual) {							
									$dia_entrada = 1;		
									$dia_salida = 32;		
									// echo "OUTSIDE".$entradas['Reserindividuale']['id'].' <BR>' ;	;				
								}



								// RIGHTSIDE

								if ($mes_entrada  < $mes_actual && $mes_salida == $mes_actual) {						
									$dia_entrada = 1;
									$dia_salida = $dia_salida_ex[2];
									// echo "RIGHTSIDE".$entradas['Reserindividuale']['id'].' <BR>' ;	;
								}


								// LEFTSIDE

								if ($mes_entrada  == $mes_actual && $mes_salida > $mes_actual) {	
									$dia_entrada = $dia_entrada_ex[2];				
									$dia_salida = 32;
									// echo "LEFTSIDE".$entradas['Reserindividuale']['id'].' <BR>' ;	;
								}//IUpZsD5H



							} //IUpZsD5H




							// A;o pasado entrada / 

							if  ( $anhio_entrada < $anhio_enviado   && $anhio_enviado == $anhio_salida) {
							

								if ( $mes_salida == $mes_actual) {	
									$dia_entrada = 1;
									$dia_salida = $dia_salida_ex[2];
									// echo "LEFTSIDE".$entradas['Reserindividuale']['id'].' <BR>' ;	;
								}

								if ( $mes_salida > $mes_actual) {	
									$dia_entrada = 1;
									$dia_salida = 32;
									// echo "LEFTSIDE".$entradas['Reserindividuale']['id'].' <BR>' ;	;
								}

							}


							if  ( $anhio_entrada == $anhio_enviado   && $anhio_salida > $anhio_enviado ) {
							

								if ( $mes_entrada <  $mes_enviado ) {	
									$dia_entrada = 1;
									$dia_salida = 32;
									// echo "LEFTSIDE".$entradas['Reserindividuale']['id'].' <BR>' ;	;
								}

								if ( $mes_entrada ==  $mes_enviado ) {	
									$dia_entrada = $dia_entrada_ex[2];				
									$dia_salida = 32;
									// echo "LEFTSIDE".$entradas['Reserindividuale']['id'].' <BR>' ;	;
								}

							}


							#Posicion N1 inicio de la habitacion
							if ($mes_entrada == $mes_enviado || $mes_salida == $mes_enviado) {
								# code...
								if ($posicion == 1) {

									echo "<tr class='tr_show_number'><td>".$entradas['Habitacione']['numhabitacion']."</td>";
									echo "<td>".ucwords(strtolower($entradas['Tipohabitacione']['denominacion']))."</td>";

									$msg++;

								}
							}else{
								# code...
								if ($posicion == 1) {

									echo "<tr class='tr_show_number'><td>".$entradas['Habitacione']['numhabitacion']."</td>";
									echo "<td>".ucwords(strtolower($entradas['Tipohabitacione']['denominacion']))."</td>";

									$msg++;

								break;
								}
							}





							for ($i=$posicion; $i <= $numero ; $i++) { 

									if ($i >= $dia_entrada || $i <= $dia_salida) {
										


										/*$dia_prev = $this->requestAction('reserindividuales/get_previous/'.$entradas['Reserindividuale']['fecha_salida'].'/'.$entradas['Reserindividuale']['habitacione_id']);
										//pr($dia_prev);
										if( trim($entradas['Reserstatusindividuale']['denominacion']) == 'EGRESADA' && $dia_prev == true ){
											$complete = '_complete';
										}else{
											$complete = '';
										}*/

										if ($i != $dia_entrada) {
											if ($i < $dia_entrada) {												
													
												echo "<td style='width:2% !important; color:white;' class='border_td tr_show_number'><a style='cursor:pointer;' onclick='add_reserva(\"".$entradas['Habitacione']['numhabitacion']."\",\"".$i."\",\"".$num_mes."\",\"".$anio."\")'> * $i  </a> </td>";				
												$posicion++;
												
											}
										}




										if ($dia_salida == '01') {
											echo "<td title='Reserva N. ".$entradas['Reserindividuale']['id'].": ".$entradas['Cliente']['nombre_completo']."' style='cursor:pointer;width:2% !important;' onclick='openEdit(".$entradas['Reserindividuale']['id'].")' class='ultimo_dia_".$entradas['Reserindividuale']['reserstatusindividuale_id'].$complete." border_td'>$i</td>";	
												$posicion++;
										}else{



											//<-----------------------------------------------------Habitaciones NO bloqueadas

												


												if ($i == $dia_entrada ) {

											      if ($i  == $dia_salida ) {
													echo "<td title='Reserva N. ".$entradas['Reserindividuale']['id'].": ".$entradas['Cliente']['nombre_completo']."' style='cursor:pointer;width:2% !important;' onclick='openEdit(".$entradas['Reserindividuale']['id'].")' class='unique_dia_".$entradas['Reserindividuale']['reserstatusindividuale_id']." border_td'> @ $i </td>";
														
														$posicion++;

													}else{


													//Primer dia que se dibuja	

													echo "<td title='Reserva N. ".$entradas['Reserindividuale']['id'].": ".$entradas['Cliente']['nombre_completo']."' style='cursor:pointer;width:2% !important;' onclick='openEdit(".$entradas['Reserindividuale']['id'].")' class='primer_dia_".$entradas['Reserindividuale']['reserstatusindividuale_id']." border_td'> [. $i $simbolo</td>";
														
														$posicion++;
													}


												} else if ($i > $dia_entrada && $i < $dia_salida) {


													echo "<td title='Reserva N. ".$entradas['Reserindividuale']['id'].": ".$entradas['Cliente']['nombre_completo']."' style='cursor:pointer;width:2% !important;' onclick='openEdit(".$entradas['Reserindividuale']['id'].")' class='diaOcupado_".$entradas['Reserindividuale']['reserstatusindividuale_id']." border_td'> / $i </td>";			
														$posicion++;


												} else if ($i == $dia_salida) {

													//Ultimo dia que se dibuja

													

													echo "<td title='Reserva N. ".$entradas['Reserindividuale']['id'].": ".$entradas['Cliente']['nombre_completo']."' style='cursor:pointer;width:2% !important;' onclick='openEdit(".$entradas['Reserindividuale']['id'].")' class='ultimo_dia_".$entradas['Reserindividuale']['reserstatusindividuale_id'].$complete." border_td'> ] $i</td>";	
														$posicion++;
													break;

													
													

												}		
											
											//<-----------------------------------------------------Habitaciones NO bloqueadas FIN
										
										}



									} else {

										$cambio = false;
												
													if ($i == $dia_entrada) {
														echo "<td title='Bloqueado ?'  style='width:2%;color:white;' class='primer_dia_5 tr_show_number'><a style='cursor:pointer;' > $i </a> </td>";
														$cambio = true;
													}else

													if ($i > $dia_entrada && $i < $dia_salida) {
														echo "<td title='Bloqueado ?'  style='width:2%;color:white;' class='diaOcupado_5 tr_show_number'><a style='cursor:pointer;' > $i </a> </td>";
														$cambio = true;

													}else

													if ($i == $dia_salida) {
														echo "<td title='Bloqueado ?'  style='width:2%;color:white;' class='ultimo_dia_5 tr_show_number'><a style='cursor:pointer;' > $i </a> </td>";
													    $cambio = true;
													}

												
												if ($cambio == false) {
													
												echo "<td style='width:2% !important; color:white;' class='border_td tr_show_number'><a style='cursor:pointer;' onclick='add_reserva(\"".$entradas['Habitacione']['numhabitacion']."\",\"".$i."\",\"".$num_mes."\",\"".$anio."\")'> * $i  </a> </td>";				
												$posicion++;	
												}
									}		
								
							} #Fin del ciclo for


					
					
			 	}	


			}


				//Cerrando el mes
				if ($inicio_ciclo != 0) {


					for ($i=$posicion; $i <= $numero ; $i++) { 		
						echo "<td style='width:2%;color:#3c8dbc;' class='border_td '> <a style='cursor:pointer;' onclick='add_reserva(\"".$entradas['Habitacione']['numhabitacion']."\",\"".$i."\",\"".$num_mes."\",\"".$anio."\")'> $i </a> </td>";				
					}



						echo "<td style='width:6%; text-align: center;' class='border_td'> ".$cantidad_personas."</td>";
						echo "</tr>";
					
				}
			
				





				//No hay reservas para la habitacion, sale toda la linea en blanco
				if ($inicio_ciclo == 0) {
						$inicio_ciclo = 1;
						
						
						echo "<tr><td>".$key['Habitacione']['numhabitacion']."</td>";
						echo "<td>".ucwords(strtolower($key['Tipohabitacione']['denominacion']))."</td>";

							$dia_entrada_ex_hab = explode('-',$key['Habitacione']['desde']);
							
							$mes_entrada = $dia_entrada_ex_hab[1];
							$anhio_entrada = $dia_entrada_ex_hab[0];
							//$dia_entrada = '3';
							//Salida
							$dia_salida_ex_hab = explode('-',$key['Habitacione']['hasta']);		
							
							$mes_salida = $dia_salida_ex_hab[1];
							$anhio_salida_ = $dia_salida_ex_hab[0];


										if ($anhio_enviado == $anhio_entrada && $anhio_enviado == $anhio_salida) {
						


						// INSIDE

						if ($mes_entrada == $mes_actual  && $mes_salida == $mes_actual) {
							$dia_entrada = $dia_entrada_ex_hab[2];		
							$dia_salida = $dia_salida_ex_hab[2];
							// echo 'INSIDE'.$entradas['Reserindividuale']['id'].' <BR>' ;	
						}

						// OUTSIDE

						if ($mes_entrada  < $mes_actual && $mes_salida > $mes_actual) {							
							$dia_entrada = 1;		
							$dia_salida = 32;		
							// echo "OUTSIDE".$entradas['Reserindividuale']['id'].' <BR>' ;	;				
						}



						// RIGHTSIDE

						if ($mes_entrada  < $mes_actual && $mes_salida == $mes_actual) {						
							$dia_entrada = 1;
							$dia_salida = $dia_salida_ex_hab[2];
							// echo "RIGHTSIDE".$entradas['Reserindividuale']['id'].' <BR>' ;	;
						}


						// LEFTSIDE

						if ($mes_entrada  == $mes_actual && $mes_salida > $mes_actual) {	
							$dia_entrada = $dia_entrada_ex_hab[2];				
							$dia_salida = 32;
							// echo "LEFTSIDE".$entradas['Reserindividuale']['id'].' <BR>' ;	;
						}



					}


						if ($key['Habitacione']['habistatu_id'] == 8) {


							for ($i=1; $i <= $numero ; $i++) { 

								if ($i < $dia_entrada) {

								echo "<td  style='width:2%;color:white;' class='border_td tr_show_number'> 
									      <a style='cursor:pointer;' 
									      onclick='add_reserva(\"".$key['Habitacione']['numhabitacion']."\",\"".$i."\",\"".$num_mes."\",\"".$anio."\")'> $i </a> </td>";	
								}else

								if ($i > $dia_salida) {

								echo "<td  style='width:2%;color:white;' class='border_td tr_show_number'> 
									      <a style='cursor:pointer;' 
									      onclick='add_reserva(\"".$key['Habitacione']['numhabitacion']."\",\"".$i."\",\"".$num_mes."\",\"".$anio."\")'> $i </a> </td>";	
								}else if ($i == $dia_entrada) {  // Modificar 5 de Abril de 2018s
									echo "<td title='Bloqueado *'  style='width:2%;color:white;' class='primer_dia_5 tr_show_number'> 
										      <a style='cursor:pointer;' > $i </a> </td>";
								}else

								if ($i > $dia_entrada && $i < $dia_salida) {
									echo "<td title='Bloqueado *'  style='width:2%;color:white;' class='diaOcupado_5 tr_show_number'> 
										      <a style='cursor:pointer;' > $i </a> </td>";
								}else

								if ($i == $dia_salida) {
									echo "<td title='Bloqueado *'  style='width:2%;color:white;' class='ultimo_dia_5 tr_show_number'> 
								    		  <a style='cursor:pointer;' > $i </a> </td>";
								}

											
								
							}
						}



						if  ($key['Habitacione']['habistatu_id'] != 8) {

							for ($i=1; $i <= $numero ; $i++) { 

							echo "<td  style='width:2%;color:white;' class='border_td tr_show_number'> 
								      <a style='cursor:pointer;' onclick='add_reserva(\"".$key['Habitacione']['numhabitacion']."\",\"".$i."\",\"".$num_mes."\",\"".$anio."\")'> $i </a> </td>";
											
								
							}
						}

						// fin comprobacion de bloqueados


						
							echo "<td class='border_td' style='width:6%; text-align: center;'>".$key['Habitacione']['capacidad']."</td>";
							
							echo "</tr>";	
				}	

		}


	






?>



<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Selecciona el tipo de Reserva</p>
		<div class="row">
			<div class="col-md-6">
				<button class="btn btn-lg btn-success" onclick="add_individual()">Individual</button>
			</div>
			<div class="col-md-6">
				<button class="btn btn-lg btn-warning" onclick="add_multiple()">Multiple</button>
			</div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>

<input type="hidden" id="cal_hab">
<input type="hidden" id="cal_dia">
<input type="hidden" id="cal_mes">
<input type="hidden" id="cal_anho">


<script>
	/**
	 * Function para agregar una nueva reserva
	 */
	function add_individual(){
		var hab = $("#cal_hab").val();
		var dia = $("#cal_dia").val();
		var mes = $("#cal_mes").val();
		var anho = $("#cal_anho").val();
		location.href='/Reserindividuales/add_reserva/'+hab+'/'+dia+'/'+mes+'/'+anho;
	}

	function add_multiple(){
		var hab = $("#cal_hab").val();
		var dia = $("#cal_dia").val();
		var mes = $("#cal_mes").val();
		var anho = $("#cal_anho").val();
		location.href='/Resermultiples/add_multiples/'+hab+'/'+dia+'/'+mes+'/'+anho;
	}
	
	function add_reserva(hab, dia, mes, anho){

		$("#cal_hab").val(hab);
		$("#cal_dia").val(dia);
		$("#cal_mes").val(mes);
		$("#cal_anho").val(anho);

		$("#myModal").modal('show');


	//	location.href='/Reserindividuales/add_reserva/'+hab+'/'+dia+'/'+mes+'/'+anho;
	}
</script>



<?php //pr($habitaciones); ?>
	</tbody>
</table>

<script type="text/javascript">
	$("body").addClass('sidebar-collapse');
	function openEdit(idReserva){
		
		$("#myModal_"+idReserva).modal('show');
		//window.location.href = '/Reserindividuales/edit_2/'+idReserva;
	}
	function editarReservas(idReserva){
		
		
		window.location.href = '/Reserindividuales/edit_2/'+idReserva;
	}
</script>





<?php foreach ($entrada1 as $key): ?>
	
	<div id="myModal_<?=$key['Reserindividuale']['id']?>" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Número de Reserva: <?=$key['Reserindividuale']['id']?> 
	        Desde: <?=$key['Reserindividuale']['fecha_entrada'] ?> Hasta: <?=$key['Reserindividuale']['fecha_salida'] ?>


	        </h4>
	      </div>
	      <div class="modal-body">
	      	<h4>Detalles de Reserva:</h4>
	      	<div class="row">
	      		<div class="col-md-4">
	      			Número de Personas:
	      		</div>
	      		<div class="col-md-4">
	      			<?=$key['Reserindividuale']['cantidad_personas'] ?>
	      		</div>
	      		<div class="col-md-4">
	      			
	      		</div>
	      	</div>


	      	<div class="row">
	      		<div class="col-md-4">
	      		Observaciones:
	      		</div>
	      		<div class="col-md-4">
	      			<?=$key['Reserindividuale']['obseraciones'] ?>
	      		</div>
	      		<div class="col-md-4">
	      			
	      		</div>
	      	</div>

	      	<div class="row">
	      		<div class="col-md-4">
	      			Observaciones Cliente:
	      		</div>
	      		<div class="col-md-4">
	      			<?=$key['Reserindividuale']['observaciones_cliente'] ?>
	      		</div>
	      		<div class="col-md-4">
	      			
	      		</div>
	      	</div>

	      	<div class="row">
	      		<div class="col-md-6">
	      			Estatus de Reserva
	      		</div>
	      		<div class="col-md-6">
	      			<?php

	      				if ($key['Reserstatusindividuale']['id'] == 1) {
	      					$EstatusClass = 'btn btn-calendar-nueva btn-sm';
	      				}

	      				if ($key['Reserstatusindividuale']['id'] == 2) {
	      					$EstatusClass = 'btn btn-calendar-confirmada btn-sm';
	      				}

	      				if ($key['Reserstatusindividuale']['id'] == 3) {
	      					$EstatusClass = 'btn btn-calendar-auditada btn-sm';
	      				}

	      				if ($key['Reserstatusindividuale']['id'] == 4) {
	      					$EstatusClass = 'btn btn-calendar-entrada btn-sm';
	      				}

	      				if ($key['Reserstatusindividuale']['id'] == 5) {
	      					$EstatusClass = 'btn btn-calendar-salida btn-sm';
	      				}

	      				echo $this->Html->link(__(h($key['Reserstatusindividuale']['denominacion'])), array('action' => 'status', $key['Reserindividuale']['id']), array('class'=>$EstatusClass));

	      			 ?>
	      			
	      		</div>
	      	</div>
	      	 
	      	
	      	
	        
	      </div>
	      <div class="modal-footer">
	        <a onclick="editarReservas(<?=$key['Reserindividuale']['id']?>)" class="btn btn-success">Editar Esta Reserva</a>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar Ventana</button>
	        
	      </div>
	    </div>

	  </div>
	</div>


<?php endforeach ?>

