<style>
    .tipo_habitacion{
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 2px solid #84c400;

        padding: 5px;
        padding-top: 15px;
    }
</style>


<section class="content">
    <div id="google_translate_element"></div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="col-xs-2">
                    </div>
                    <!--<div class="col-xs-10">
                        <h3 class="box-title"><?php echo __('Anular Reservación'); ?></h3>
                    </div>-->
                </div><!-- /.box-header -->
                <div class="box-body">

                    <div class='row'>
                        <div class='col-md-12'>
                            <div style="align-content: center; align-items: center; text-align: center">
                                <h3><strong>Reservación Nº: <?php echo($localizador);  ?></strong></h3>
                            <img style="width: 30%;" src="<?= $this->Html->estructurainclude('anula_reservacion.png');?>" alt="">
                                <h3><strong>Anulada Exitosamente</strong></h3>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <?php echo $this->Html->link(__('Volver al Inicio'), array('action' => 'inicio')); ?>
                                </div>
                            </div>
                        </div>
                    </div></form></div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
<!-- Modal -->


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>





<input type="hidden" value='1' id='control-th'>
<input type="hidden" id='lastth'>


<input type="hidden" id="ctrladd" value="0">




<? //pr($allclientes) ?>