<?php

	echo'<div class="form-group">';	
	echo'<label class="control-label col-md-2" >Datos Cliente</label>';		
	echo'<div class="col-md-9">';			
	echo $this->Form->input('cliente_id', array('type' => 'text',
		 									    'id'   =>'', 
		 									    'div'  =>false, 
		 									    'label'=>false, 
		 									    'class'=>'form-control', 
		 									    'required' => true,
		 									    'readonly'=>'true',
		 									    
		 										'value'=>$cliente[0]['Cliente']['nombre_completo'])); 
	



	echo $this->Form->input('cliente_id', array('type' => 'hidden',
		 									    'id'   =>'Reserindividualecliente_id', 
		 									    'div'  =>false, 
		 									    'label'=>false, 
		 									    'class'=>'form-control', 
		 									    'required' => true,
		 									    'readonly'=>'true',
		 									    'name'=>'data[Reserindividuale][cliente_id]',
		 										'value'=>$cliente[0]['Cliente']['id']));


	echo '</div>';	
	echo '</div>';

			
 




 ?>




