<section class="content-header">
  <h1>
    Sistema de gestión
    <small><?php echo __('Users'); ?></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<?= $this->Html->url('/Dashboard/')?>"><i class="fa fa-newspaper-o"></i> Inicio</a></li>
    <li class="active"><?php echo __('Users'); ?></li>
  </ol>
</section>
<section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"><?php echo __('Users'); ?> Detalles</h3>
                        <hr>
                    </div><!-- /.box-header -->
                    <div class="box-body">
						<dl class="dl-horizontal">
								<dt><?php echo __('Role'); ?></dt>
								<dd>
									<?php echo h($user['Role']['title']); ?>
									&nbsp;
								</dd>
								<dt><?php echo __('Pesonale Id'); ?></dt>
								<dd>
									<?php echo h($user['Personale']['nombres']." ".$user['Personale']['apellidos']); ?>
									&nbsp;
								</dd>
								<dt><?php echo __('Username'); ?></dt>
								<dd>
									<?php echo h($user['User']['username']); ?>
									&nbsp;
								</dd>
								<dt><?php echo __('Email'); ?></dt>
								<dd>
									<?php echo h($user['User']['email']); ?>
									&nbsp;
								</dd>
								<dt><?php echo __('Bio'); ?></dt>
								<dd>
									<?php echo h($user['User']['bio']); ?>
									&nbsp;
								</dd>
								<dt><?php echo __('Status'); ?></dt>
								<dd>
									<?php echo h($user['User']['status']); ?>
									&nbsp;
								</dd>
		
						</dl>
						<p>
						    		<?php echo $this->Html->link(__('Editar'), array('action' => 'edit', $user['User']['id'])); ?>
                            |
                            		<?php echo $this->Html->link(__('Volver al listado'), array('action' => 'index')); ?>
                        </p>
					</div>
			    </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
</section><!-- /.content -->
<?php /* ?><div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('Edit User'), array('action' => 'edit', $user['User']['id'])); ?> </li>
		<li><?php echo $this->Form->postLink(__('Delete User'), array('action' => 'delete', $user['User']['id']), array(), __('Are you sure you want to delete # %s?', $user['User']['id'])); ?> </li>
		<li><?php echo $this->Html->link(__('List Users'), array('action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New User'), array('action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Roles'), array('controller' => 'roles', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Role'), array('controller' => 'roles', 'action' => 'add')); ?> </li>
	</ul>
</div>
<?php */ ?>